[package]
name = "sparse-merkle-tree"
version = "0.1.0"
authors = ["jjy <jjyruby@gmail.com>"]
edition = "2018"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
blake2b-rs = "0.1"
lazy_static = "1.4"
